{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper profil">
    <h1>{{participant.pseudo}}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul>
        <li>
            <p class="profilP">Prénom:</p>
            <div>{{participant.prenom}}</div>
        </li>
        <li>
            <p class="profilP">Nom:</p>
            <div>{{participant.nom}}</div>
        </li>
        <li>
            <p class="profilP">Téléphone:</p>
            <div>{{participant.telephone}}</div>
        </li>
        <li>
            <p class="profilP">Email:</p>
            <div>{{participant.mail}}</div>
        </li>
        <li>
            <p class="profilP">Campus:</p>
            <div>{{participant.campus.nom}}</div>
        </li>
    </ul>

    <div class="profilBtn">
        <a href="{{ path('app_main') }}" title="Accueil">Retour</a>
        <a href="{{ path('app_profile_update') }}" title="Modifier le profile">Modifier le profile</a>
    </div>
</div>
{% endblock %}
