{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('styles/accueil.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('styles/pagination.css') }}>
{% endblock %}



{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="infos">
            <p>Date : {{ "now"|date("d/m/Y") }}</p>
            <p>Participant : {{ app.user.nom }} {{ app.user.prenom }}<p>
        </div>
        <div class="filter-form" >
            {{ form_start(form) }}
            <div class="filter-grid">
                <div class="filter-group">
                    {{ form_label(form.campus) }}
                    {{ form_widget(form.campus, {'attr': {'class': 'filter-input'}}) }}
                </div>
                <div class="filter-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'filter-input', 'data-cy': 'filtre-nom'}}) }}
                </div>
                <div class="filter-group">
                    {{ form_label(form.startDate) }}
                    {{ form_widget(form.startDate, {'attr': {'class': 'filter-input'}}) }}
                </div>
                <div class="filter-group">
                    {{ form_label(form.endDate) }}
                    {{ form_widget(form.endDate, {'attr': {'class': 'filter-input'}}) }}
                </div>
                <div class="filter-group checkbox-group">
                    {{ form_widget(form.isOrganizer, {'attr': {'class': 'filter-checkbox'}}) }}
                    {{ form_label(form.isOrganizer) }}
                </div>
                <div class="filter-group checkbox-group">
                    {{ form_widget(form.isInscrit, {'attr': {'class': 'filter-checkbox'}}) }}
                    {{ form_label(form.isInscrit) }}
                </div>
                <div class="filter-group checkbox-group">
                    {{ form_widget(form.isNotInscrit, {'attr': {'class': 'filter-checkbox'}}) }}
                    {{ form_label(form.isNotInscrit) }}
                </div>
                <div class="filter-group checkbox-group">
                    {{ form_widget(form.isFinished, {'attr': {'class': 'filter-checkbox'}}) }}
                    {{ form_label(form.isFinished) }}
                </div>
            </div>
            <div class="filter-actions">
                <button  data-cy="filtre-submit" type="submit">Rechercher</button>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="tableau">
            <table>
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Cloture</th>
                    <th>Inscrits / Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in pagination %}
                    {% if sortie.etat.libelle != "Clôturée" %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date('d/m/Y') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>

                            {% if sortie.nbInscriptionsMax == sortie.participant|length %}
                                <td>Complet</td>
                            {% else %}
                                <td>{{ sortie.participant|length }} / {{ sortie.nbInscriptionsMax }}</td>
                            {% endif %}
                            <td>{{ sortie.etat.libelle }}</td>
                            {% if sortie.participant.contains(app.user) %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if sortie.organisateur is not null %}
                                <td>{{sortie.organisateur.prenom}} {{sortie.organisateur.nom}}</td>
                            {% else %}
                                <td>Aucun organisateur</td>
                            {% endif %}
                            <td data-cy="modifier-sortie" class="btnAction">

                                    {% if ((sortie.organisateur == app.user or app.user.pseudo == "admin") and sortie.etat.libelle == "Créée") %}
                                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                    {% endif %}
                                {% if sortie.etat.libelle == "Ouverte" and (sortie.organisateur == app.user or app.user.pseudo == "admin") %}
                                    <a href="{{ path('app_sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                                {% endif %}
                                </td>
                            <td  class="btnAction">
                                    {% if app.user %}
                                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Détails</a>
                                    {% endif %}
                            </td>
                            <td  class="btnAction">
                                    {% if sortie.nbInscriptionsMax > sortie.participant|length and sortie.etat.libelle == "Ouverte" and not sortie.participant.contains(app.user) %}
                                        <a href="{{ path('app_sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}
                                    {% if sortie.participant.contains(app.user) and sortie.etat.libelle == "Ouverte" %}
                                        <a href="{{ path('app_sortie_desinscrire', {'id': sortie.id}) }}">Se
                                            désinscrire</a>
                                    {% endif %}

                            </td>
                        </tr>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(function (alert) {
                setTimeout(function () {
                    alert.style.transition = "opacity 0.5s ease-out";
                    alert.style.opacity = "0";
                    setTimeout(function () {
                        alert.remove();
                    }, 500);
                }, 2000);
            });
        });
    </script>
{% endblock %}

