{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('styles/accueil.css') }}>
{% endblock %}



{% block body %}

<div class="container">
    <div class="infos">
        <p>Date : {{ "now"|date("d/m/Y") }}</p>
        <p>Participant : {{app.user.nom}} {{app.user.prenom}}<p>
    </div>
    <div class="formSearch">
        <div>
        <h1>Filtrer les sorties</h1>
    {{ form_start(form) }}
            {{ form_row(form.campus) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        </div>
        <div>
        {{ form_row(form.isOrganizer) }}
        {{ form_row(form.isInscrit) }}
        {{ form_row(form.isNotInscrit) }}
        {{ form_row(form.isFinished) }}
        </div>
        <div>
            <button type="submit">Rechercher</button>
        </div>

    {{ form_end(form) }}

    </div>
    <div class="tableau">
    <table >
    <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits / Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for sortie in pagination %}
        <tr>
            <td>{{sortie.nom}}</td>
            <td>{{sortie.dateHeureDebut|date('d/m/Y')}}</td>
            <td>{{sortie.dateLimiteInscription|date('d/m/Y')}}</td>
            <td>{{sortie.participant|length }} / {{sortie.nbInscriptionsMax}}</td>
            <td>{{sortie.etat.libelle}}</td>
            {% if sortie.participant.contains(app.user) %}
            <td>X</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{sortie.organisateur.prenom}} {{sortie.organisateur.nom}}</td>
            {# <td>
                <a href="{{ path('aapp_sortie_show', {'id': sortie.id}) }}">Détails</a>
                <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                {% if sortie.organisateur == app.user %}
                    <a href="{{ path('app_sortie_delete', {'id': sortie.id}) }}">Annuler</a>
                {% endif %}
                <a href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
            </td> #}
        </tr>
       
    {% endfor %}
    </tbody>
</table>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
