{# templates/admin/user_create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <div class="user_new">
        <h1>Créer un nouvel utilisateur</h1>

        {{ form_start(form) }}
        <div class="conteneur">
            <div class="conteneur_left">
                {{ form_row(form.pseudo) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.telephone) }}

                {# Le champ "roles" ne sera affiché que si l'option 'is_admin' a été passée à true #}
                {% if form.roles is defined %}
                    {{ form_row(form.roles) }}
                {% endif %}
            </div>
            <div class="conteneur-right">
                {{ form_row(form.mail) }}
                {{ form_row(form.password) }}
                {{ form_row(form.campus) }}
                {{ form_row(form.image) }}
            </div>

        </div>

        <div class="link">
            <button class="btn btn-primary">Créer l'utilisateur</button>
            <a href="{{ path('app_admin') }}" class="btn" title="Annulation">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}