<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {# le favicon #}
        <link rel="icon" href="{{ asset('img/icon_sortir.png') }}">
        
        {% block stylesheets %}
         {# notre css #}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">


        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# entête du site #}
        <header>
            <div class="header-logo">
                <a href="{{ path('app_main') }}" title="Retour Accueil">
                    <img src="{{ asset('img/icon_sortir.png') }}" alt="Sortir Logo">
                </a>
            </div>
            <h1>Sortir</h1> 
            <nav class="header-nav">
                <a href="{{ path('app_main') }}" title="Accueil">Accueil</a>
                {% if app.user %}
                <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a> 
                {% endif %}  
                {% if not app.user %}    
                <a href="{{ path('app_login') }}" title="Logout">Connexion</a> 
                {% endif %}  
            </nav>
        </header>

        <main>
            {# contenu principal de chaque page #}
            {% block body %}{% endblock %}
            {# pied-de-page du site #}
        </main>
        <footer>
            <div>
                © Sortir {{ "now"|date("Y") }}
            </div>
        </footer>
    </body>
</html>
